.about-wrapper {
	padding: 160px 0;
	overflow: hidden;
	margin-bottom: 140px;
	@include responsive(991) {
		padding: 50px 0;
	}

	#breadcrumbs {
		font-size: 12px;
		font-weight: 300;
		color: rgb(204, 33, 40);
		margin-bottom: 23px;
		@include responsive(991) {
			margin-bottom: 15px;
		}

		a {
			color: inherit;
		}
	}

	.about-section {
		@include flexbox();
		@include flex-wrap(wrap);

		&:nth-child(even) {
			.content-wrapper {
				padding-left: 20%;
				padding-right: 100px;
				@include responsive(1439) {
					padding-left: 8%;
					padding-right: 50px;
				}
				@include responsive(1199) {
					padding-left: 40px;
				}
				@include responsive(991) {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}

		&:nth-child(odd) {
			@include flex-direction(row-reverse);
			@include responsive(991) {
				@include flex-direction(row);
			}

			.content-wrapper {
				padding-right: 20%;
				padding-left: 100px;
				text-align: right;
				@include responsive(1439) {
					padding-right: 8%;
					padding-left: 50px;
				}
				@include responsive(1199) {
					padding-right: 40px;
				}
				@include responsive(991) {
					padding-left: 15px;
					padding-right: 15px;
				}

				.about-section-title {
					&:after {
						left: unset;
						right: 0;
					}
				}

				.button-wrapper {
					.view-more-button {
						&:before {
							right: unset;
							left: -14px;
							@include transform(rotate(180deg));
						}
					}
				}
			}
		}

		.content-wrapper, .img-wrapper {
			@include flex-basis(50%);
			max-width: 50%;
			@include responsive(991) {
				@include flex-basis(100%);
				max-width: 100%;
			}
		}

		.about-section-title {
			font-size: 36px;
			color: #040404;
			font-weight: 800;
			text-transform: uppercase;
			line-height: 1.2;
			position: relative;
			margin-bottom: 40px;
			@include responsive(1199) {
				font-size: 30px;
			}
			@include responsive(767) {
				font-size: 25px;
			}
			@include responsive(575) {
				font-size: 20px;
			}

			&:after {
				content: '';
				width: 340px;
				height: 1px;
				background-color: rgb(204, 33, 40);
				display: block;
				margin-top: 18px;
				position: absolute;
				left: 0;
				bottom: -21px;
				@include responsive(767) {
					width: 200px;
				}
			}

			span {
				color: rgb(204, 33, 40);
				display: block;
			}
		}

		.content-wrapper {
			padding-top: 60px;
			padding-bottom: 30px;
			@include responsive(991) {
				padding-top: 20px;
				padding-bottom: 20px;
			}

			.entry-content {
				font-size: 14px;
				color: rgb(0, 0, 0);
				line-height: 1.429;
				font-weight: 300;
				margin-bottom: 20px;
			}
		}

		.button-wrapper {
			.view-more-button {
				font-size: 15.678px;
				color: rgb(255, 255, 255);
				font-weight: 700;
				border-radius: 5px;
				background-color: rgb(204, 33, 40);
				width: 150px;
				height: 44px;
				position: relative;
				@include inline-flex();
				@include align-items(center);
				@include justify-content(center);

				&:before {
					content: '';
					width: 30px;
					height: 30px;
					display: block;
					background-size: 30px 30px;
					background-image: url("../images/arrow-circle.png");
					position: absolute;
					top: 8px;
					right: -14px;
					@include responsive(767) {
						top: 5px;
					}
				}
			}
		}

		.img-wrapper {
			min-height: 500px;
			background-size: cover;
			background-repeat: no-repeat;
			background-color: rgb(255, 255, 255);
			box-shadow: 0 24px 52px 0 rgba(47, 47, 51, 0.2);
			position: relative;
			@include responsive(1199) {
				min-height: 425px;
			}
		}

		&.about-section-1 {
			.content-wrapper {
				@include responsive(991) {
					padding-top: 0;
				}
			}

			.img-wrapper {
				img {
					position: absolute;
					left: 40px;
					bottom: -60px;
					@include responsive(991) {
						max-width: 80%;
					}
				}
			}
		}

		&.about-section-2 {
			.img-wrapper {
				img {
					top: -6px;
					position: absolute;
					right: -32px;
					width: 1348px;
					height: auto;
					max-width: initial;
					@include responsive(1199) {
						top: -6px;
						position: absolute;
						right: -27px;
						width: 1148px;
						height: auto;
						max-width: initial;
					}
				}
			}
		}

		&.about-section-3 {
			.img-wrapper {
				img {
					position: absolute;
					top: 62px;
					left: -55px;
					@include responsive(991) {
						left: 15px;
					}
				}
			}
		}

		&.about-section-4 {
			.img-wrapper {
				img {
					position: absolute;
					top: -56px;
					right: -116px;
					@include responsive(1199) {
						top: -19px;
						right: -90px;
						max-width: 299px;
					}
					@include responsive(991) {
						right: 15px;
					}
				}
			}
		}
	}

	.about-section-5 {
		padding-top: 210px;
		padding-bottom: 220px;
		@include responsive(1199) {
			padding: 100px 0;
		}
		@include responsive(991) {
			padding: 50px 0;
		}

		.content-wrapper {
			text-align: right;
			padding-right: 137px;
			position: relative;
			z-index: 2;
			@include responsive(1199) {
				padding-right: 0;
			}
			@include responsive(991) {
				text-align: center;
			}

			.entry-title {
				font-size: 30px;
				color: rgb(204, 33, 40);
				font-weight: 700;
				text-transform: uppercase;
				line-height: 1.2;
				margin-bottom: 12px;
				@include responsive(991) {
					font-size: 25px;
				}
				@include responsive(575) {
					font-size: 20px;
				}

				span {
					color: rgb(26, 26, 26);
					display: block;
				}
			}

			.entry-content {
				font-size: 16px;
				color: rgb(26, 26, 26);
				line-height: 1.2;
				margin-bottom: 33px;
			}

			.button-wrapper {
				@include responsive(767) {
					@include flexbox();
				}

				a.action-button {
					border-radius: 5px;
					background-color: rgb(204, 33, 40);
					border: 1px solid rgb(204, 33, 40);
					font-size: 15.678px;
					color: rgb(255, 255, 255);
					font-weight: 800;
					width: 177px;
					height: 52px;
					@include inline-flex();
					@include align-items(center);
					@include justify-content(center);
					margin-left: 20px;
					@include responsive(991) {
						margin: 0 10px;
					}
					@include responsive(767) {
						width: 130px;
						height: 40px;
						margin: 0 5px;
					}

					&.action-button-outline {
						color: rgb(204, 33, 40);
						background-color: rgb(255, 255, 255);
					}

					&:first-child {
						margin-left: 0;
						@include responsive(991) {
							margin: 0 10px;
						}
						@include responsive(767) {
							margin: 0 5px;
						}
					}
				}
			}
		}

		.img-wrapper {
			position: relative;
			z-index: 1;

			img.about-img {
				position: absolute;
				max-width: inherit;
				left: -580px;
				top: -360px;
				@include responsive(1199) {
					position: relative;
					left: unset;
					top: unset;
					max-width: 100%;
					width: 100%;
					height: auto;
				}
				@include responsive(991) {
					display: none;
				}
			}

			.about-img-mobile {
				margin-top: 30px;
				max-width: 100%;
				width: 100%;
				height: auto;
				display: none;
				@include responsive(991) {
					display: block;
				}
			}
		}
	}
}
