.single-wrapper {
	padding: 50px 0;
	@include responsive(991) {
		padding: 30px 0;
	}
	@include responsive(767) {
		padding: 15px 0;
	}

	#breadcrumbs {
		font-size: 12px;
		font-weight: 300;
		color: rgb(204, 33, 40);
		margin-bottom: 50px;
		@include responsive(991) {
			margin-bottom: 20px;
		}
		@include responsive(767) {
			margin-bottom: 15px;
		}

		a {
			color: inherit;
		}
	}

	.entry-title {
		font-size: 24px;
		color: #cc2128;
		font-weight: 800;
		text-transform: uppercase;
		margin-bottom: 43px;
		text-align: center;
		@include responsive(991) {
			font-size: 22px;
			margin-bottom: 20px;
		}
		@include responsive(767) {
			margin-bottom: 10px;
		}
	}
}
